makefile
Makefile
config.log
config.h
stamp-h
config.status
config.cache
.deps/
.project
ircu.tags
autom4te.cache
stamp-h1
include/patchlist.h
.orig
tools/sidconvert/sid2num
tools/sidconvert/num2sid
!tools/sidconvert/Makefile
.*.sw?

# iauthd-ts build artifacts
tools/iauthd-ts/dist/
tools/iauthd-ts/node_modules/
