#IAUTH POLICY RTAWUwFr
#IAUTH DNSTIMEOUT 5
#IAUTH BLOCKMSG Sorry! Your connection to AfterNET has been rejected because of your internet address's poor reputation. You may try an authenticated login using Login-On-Connect (LOC) instead. See http://afternet.org/rbl for more information.
#IAUTH DNSBL server=dnsbl.sorbs.net index=2,3,4,5,6,7,9 mark=sorbs block=anonymous
#IAUTH DNSBL server=dnsbl.ahbl.org index=3,14,15,16,17,18,19,20 mark=ahbl block=anonymous
#IAUTH DNSBL server=dnsbl.dronebl.org index=2,3,5,6,7,8,9,10,13,14,15 mark=dronebl block=anonymous
#IAUTH DNSBL server=rbl.efnetrbl.org index=4 mark=tor
#IAUTH DNSBL server=rbl.efnetrbl.org index=1,2,3,5 mark=efnetrbl block=anonymous
#IAUTH DNSBL server=dnsbltest.afternet.org index=2 mark=dnsbltest2 block=anonymous
#IAUTH DNSBL server=dnsbltest.afternet.org index=1 mark=dnsbltest1

